/subRptExperiencia.jasper
/subRptEmail.jasper
/subRptDependientes.jasper
/subRptGaranteReferencia.jasper
/subRptTelefono.jasper
/subRptAnexos.jasper
/RptFichaTrabajador.jasper
/subRptFormacion.jasper
/RptDependientesGeneral.jasper
/RptDependientesPorEdad.jasper
/TOTALCOBRADOXCUENTA.jasper
/subRptResumenDetallado.jasper
/RptConsumoTigo.jasper
/RESUMENDETALLE.jasper
/subRptResumenDetalleII.jasper
/RptLineasCorporativas.jasper
/RptNominaEmpleados.jasper
/RptPapeletaPago.jasper
